.grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding-bottom: 12px;
  aspect-ratio: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 100%;
  aspect-ratio: 1;
}

.grid-row {
  display: flex;
  flex-direction: row;
}
