.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid black;
}

.collapse-grid {
  width: 100%;
  max-width: 80%;
  height: 100%;
}
